<div *ngIf="password" class="col-12 mx-0 alert alert-info py-2 mb-3">
  <b>Your password must contain</b>
  <ul class="m-0" style="list-style-type: none">
    <li><span *ngIf="checkPasswordLength()" class="text-success" style="font-weight: bolder">✓</span> At least 8 characters.</li>
    <li><span *ngIf="checkCapitalLetters()" class="text-success" style="font-weight: bolder">✓</span> At least one capital letters</li>
    <li><span *ngIf="checkDigits()" class="text-success" style="font-weight: bolder">✓</span> At least one digit</li>
  </ul>
</div>
