<h2 style="font-weight: 500; font-size: 24px" class="mt-3">Reset your password</h2>

<p class="my-4 text-secondary mt-0">
  Enter your email address below and we'll send an email with instructions to reset the password. If you don't remember the email address, please
  <a class="link-primary" style="cursor: pointer">contact our team</a>.
</p>

<div [class.visually-hidden]="emailSent">

  <form [formGroup]="passwordResetForm" (ngSubmit)="sendPasswordResetEmail()">

    <div class="alert alert-danger visually-hidden">
      There was an error sending recovery email.
    </div>

    <mat-form-field appearance="outline" class="col-12 mx-0">
      <mat-label>Email Address</mat-label>
      <input type="text" matInput placeholder="someone@example.com" autocomplete="username" formControlName="username"/>
      <mat-error *ngIf="username && username.touched && username.errors?.required">Please enter your email.</mat-error>
      <mat-error *ngIf="username && username.touched && !username.errors?.required && username.errors?.email">Invalid email address.</mat-error>
    </mat-form-field>

    <div *ngIf="error" class="message message-error mb-3">
      <mat-icon class="message-icon message-icon-error">error</mat-icon> {{ error }}
    </div>

    <div class="row mx-0 my-2">
      <button type="submit" class="btn btn-success w-100">
        <span *ngIf="progress" class="spinner-border spinner-border-sm"></span> Reset Password
      </button>
    </div>

  </form>

</div>

<div class="message message-success" [class.visually-hidden]="!emailSent">
  <mat-icon class="message-icon message-icon-success">check_circle</mat-icon> Please check your email inbox for a link to complete the reset.
</div>
