<h2 style="font-weight: 500; font-size: 24px" class="my-3">Create an account</h2>

<div>
  <button type="button" style="display: flex; flex-direction: row;" class="btn btn-primary w-100 p-0">
    <img style="width: 40px; height: 40px; background: white; margin: 2px 1px 1px 1px" class="rounded-1" src="assets/images/google-icon.png" alt="Google"/>
    <span style="line-height: 40px; text-align: center" class="w-100"><b>Sign up with Google</b></span>
  </button>
</div>

<p class="my-4" style="width: 100%; text-align: center; border-bottom: 1px solid lightgray; line-height: 0.1em; margin: 10px 0 20px;">
  <span style="padding: 0 5px" class="bg-light">or</span>
</p>

<form>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="someone@example.com" autocomplete="email"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>First Name</mat-label>
    <input type="text" matInput autocomplete="given-name"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Last Name</mat-label>
    <input type="text" matInput autocomplete="family-name"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Password</mat-label>
    <input type="password" matInput autocomplete="new-password"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>District</mat-label>
    <mat-select>
      <mat-option value="matara">Matara</mat-option>
      <mat-option value="galle">Galle</mat-option>
      <mat-option value="colombo">Colombo</mat-option>
      <mat-option value="habmantota">Hambantota</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mx-0">
    <mat-checkbox>
      I accept the <a class="link-primary"><b>Terms of Service</b></a>.
    </mat-checkbox>
  </div>

  <div class="row mx-0 my-4">
    <button class="btn btn-success w-100">Sign Up</button>
  </div>

  <div class="wor mx-0 mt-4 mb-2" style="text-align: center">
    <p>Have an account? <a class="link-primary" routerLink="../login" style="cursor: pointer"><b>Login</b></a></p>
  </div>

</form>
