<div class="row mx-0 h-100">

  <div class="col-md-3 bg-light m-0 p-4" style="min-width: 350px">

    <div style="text-align: center">
      <div>
        <img style="height: 150px; width: 150px" src="assets/images/logo.png" alt="logo" />
      </div>
      <div>
        <h1 style="font-family: 'Bahnschrift', serif; margin-bottom: 0">GoPedia</h1>
        <p style="font-family: 'Bahnschrift', serif; font-size: 18px">Travel Guid</p>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

  <div class="col cover p-5 text-white" style="font-family: 'Segoe UI', serif">

    <h1 style="font-size: 32px; font-weight: 550">Discover New Places</h1>
    <p style="font-size: 18px"><b>Ask the community for guidance or help improving experience of others.</b></p>

    <a href="#" class="link-light"><b>See how it works! →</b></a>

  </div>

</div>

