.search {
  padding: 30px;
  background: rgb(245, 245, 245);
}

.search-box {
  width: 90%;
}

.input-field {
  height: 50px;
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
}

.search-button {
  width: 100px;
  margin-left: auto;
  background: rgb(0, 100, 200);
  color: white;
  border: none;
  border-left: 4px solid lightgray;
  outline: none;
  font-size: 18px;
  font-weight: 550;
}

.search-button:hover {
  background: rgb(0, 60, 120);
}


