/* You can add global styles to this file, and also import other style files */

.message {
  width: 100%;
  padding: 10px;
}

.message-warning {
  background: rgb(255, 250, 230);
  border: 1px solid rgb(255, 225, 140);
}

.message-error {
  background: rgb(255, 240, 240);
  border: 1px solid rgb(255, 200, 200);
}

.message-success {
  background: rgb(230, 245, 230);
  border: 1px solid rgb(195, 230, 200);
}

.message-icon {
  vertical-align: -6px;
  margin-right: 5px;
}

.message-icon-warning {
  color: rgb(250, 170, 20);
}

.message-icon-error {
  color: rgb(250, 80, 80);
}

.message-icon-success {
  color: rgb(20, 170, 80);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

