<div class="footer">
  <div class="flex-container">
    <a class="footer-item">Status</a>
    <a class="footer-item">Privacy</a>
    <a class="footer-item">Terms</a>
    <a class="footer-item">Cookie Preference</a>
    <a class="footer-item">Contact Us</a>
    <div class="footer-item align-right" style="margin-left: auto">
      <a><img src="./assets/icons/facebook.svg" alt="Facebook" class="footer-icon" /></a>
      <a><img src="./assets/icons/twitter.svg" alt="Facebook" class="footer-icon" /></a>
      <a><img src="./assets/icons/linkedin.svg" alt="Facebook" class="footer-icon" /></a>
      <a><img src="./assets/icons/google-plus.svg" alt="Facebook" class="footer-icon" /></a>
    </div>
  </div>
  <div class="flex-container p-2 text-secondary" style="font-size: 13px">
    ©2021 GoPedia, LLC, a Travel company. All rights reserved. Various trademarks held by their respective owners.
  </div>
</div>
