<h2 style="font-weight: 500; font-size: 24px" class="my-3">Login to you account</h2>

<div>
  <button type="button" (click)="loginWithGoogle()" style="display: flex; flex-direction: row;" class="btn btn-primary w-100 p-0">
    <img style="width: 40px; height: 40px; background: white; margin: 2px 1px 1px 1px" class="rounded-1" src="assets/images/google-icon.png" alt="Google" />
    <span style="line-height: 40px; text-align: center" class="w-100">
      <span *ngIf="googleProgress" class="spinner-border spinner-border-sm"></span>
      &nbsp;&nbsp;<b>Log in with Google</b>
    </span>
  </button>
</div>

<div *ngIf="googleError" class="message message-error my-3">
  <mat-icon class="message-icon message-icon-error">error</mat-icon> An Unknown error occurred.
</div>

<p class="my-4" style="width: 100%; text-align: center; border-bottom: 1px solid lightgray; line-height: 0.1em; margin: 10px 0 20px;">
  <span style="padding: 0 5px" class="bg-light">or</span>
</p>

<form [formGroup]="loginForm">

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Email Address</mat-label>
    <input type="text" matInput placeholder="someone@example.com" autocomplete="username" formControlName="username" />
    <mat-error *ngIf="username && username.errors?.required">Please enter the username.</mat-error>
    <mat-error *ngIf="username && !username.errors?.required && username.errors?.email">Please enter a valid email.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Password</mat-label>
    <input [type]="passwordVisible ? 'text' : 'password'" matInput autocomplete="current-password" formControlName="password" />
    <button *ngIf="password && password.value" type="button" matSuffix mat-icon-button aria-label="Show/Hide password" (click)="passwordVisible = !passwordVisible">
      <mat-icon *ngIf="passwordVisible">visibility_off</mat-icon>
      <mat-icon *ngIf="!passwordVisible">visibility</mat-icon>
    </button>
    <mat-error *ngIf="password && password.touched && password.errors?.required">Please enter the password.</mat-error>
  </mat-form-field>

  <div class="row mx-0 mb-4 d-flex" style="text-align: end">
    <a class="link-primary" style="cursor: pointer" [routerLink]="['../reset-password-request', {email: username?.value}]"><b>Forgot Password?</b></a>
  </div>

  <div *ngIf="error" class="message message-error mb-3">
    <mat-icon class="message-icon message-icon-error">error</mat-icon> {{ error }}
  </div>

  <div class="row mx-0">
     <button class="btn btn-success w-100" (click)="login()">
       <span *ngIf="progress" class="spinner-border spinner-border-sm"></span> Login</button>
  </div>

  <div class="wor mx-0 mt-4 mb-2" style="text-align: center">
    <p>Don't have an account? <a class="link-primary" routerLink="../signup" style="cursor: pointer"><b>Sign Up</b></a></p>
  </div>

</form>
