// password reset email template
doctype html

table(style="padding: 0; width: 500px; margin: 0 auto; border-collapse: collapse; font-family: 'Segoe UI', serif")
    tbody
        include email-header
        +header(firstName, lastName, avatar)
        tr(style="background-color: #fafafa; border: 2px solid rgb(195, 230, 200);")
            td(colSpan="3")
                table(style="width: 100%")
                    tbody
                        tr
                            td(style="padding: 10px 10px 0 10px")
                                h3(style="margin-bottom: 0") Hi #{firstName} #{lastName}

                        tr
                            td(style="padding: 10px")
                                p(style="margin-top: 0") We noticed you were trying to reset your password, If its you please follow the ling bellow to reset your password
                                div(style="width: 100%; text-align: center; margin: 10px 0 10px 0")
                                    a(href='http://localhost:4200/auth/reset-password;token=' + token)
                                        button(style="height: 40px; width: 130px; font-weight: 550; border: 3px solid rgb(20, 170, 80); border-radius: 5px; background: rgb(230, 245, 230);")
                                            span(style="font-weight: 550") Reset Password

                                p(style="margin-top: 0") If you did not try to change your password, please secure your account.

                        tr(style="font-size: 13px")
                        td(style="padding: 10px")
                            p Details of the event
                            ul(style="list-style-type: none; padding: 0 10px 0 10px")
                                li
                                    span(style="font-weight: 600") Date: April 28, 2021, 12:42 PM (GMT)

                                li
                                    span(style="font-weight: 600") Operating System: Windows

                                li
                                    span(style="font-weight: 600") Browser : Chrome

                                li
                                    span(style="font-weight: 600") Approximate Location: Colombo, Sri Lanka

        include email-footer
        +footer(firstName, lastName)

