<h2 style="font-weight: 500; font-size: 24px" class="mt-3">Reset your password</h2>

<p class="my-4 text-secondary mt-0">
  Enter your email address below and we'll send an email with instructions to reset the password. If you dont remember the email address, please
  <a class="link-primary" style="cursor: pointer">contact our team</a>.
</p>

<form>

  <div class="alert alert-danger visually-hidden">
    There was an error sending recovery email.
  </div>

  <mat-form-field appearance="outline" class="col-12 mx-0">
    <mat-label>Email Address</mat-label>
    <input type="text" matInput placeholder="someone@example.com"/>
  </mat-form-field>

  <div class="row mx-0 my-2">
    <button class="btn btn-success w-100">Reset Password</button>
  </div>

</form>
