<h2 style="font-weight: 500; font-size: 24px" class="my-3">Set up a new password</h2>

<form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">

  <mat-form-field appearance="outline" class="col-12 mb-3">
    <mat-label>Email</mat-label>
    <input type="text" matInput placeholder="someone@example.com" formControlName="username" autocomplete="username" />
    <mat-hint>Enter email address to your account.</mat-hint>
    <mat-error *ngIf="username && username.touched && username.errors?.required">Please enter the email address.</mat-error>
    <mat-error *ngIf="username && username.touched && !username.errors?.required && username.errors?.email">Please enter a valid email address.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-12">
    <mat-label>New Password</mat-label>
    <input type="password" matInput formControlName="newPassword" autocomplete="new-password" />
    <mat-error *ngIf="newPassword && newPassword.touched && newPassword.errors?.required">Please enter the password.</mat-error>
    <mat-error *ngIf="newPassword && newPassword.touched && !newPassword.errors?.required && newPassword.errors?.pattern">Password is not strong enough</mat-error>
  </mat-form-field>

  <app-password-validate [password]="newPassword && newPassword.value"></app-password-validate>

  <mat-form-field appearance="outline" class="col-12 mb-3">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput formControlName="confirmPassword" autocomplete="confirm-password" />
    <mat-error *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.errors?.required">Please confirm the password.</mat-error>
    <mat-error *ngIf="confirmPassword && confirmPassword.touched && !confirmPassword.errors?.required && confirmPassword.errors?.passwordMismatch">Passwords do not match</mat-error>
  </mat-form-field>

  <div *ngIf="error" class="message message-error">
    <mat-icon class="message-icon message-icon-error">error</mat-icon> {{ error }}
  </div>

  <button class="btn btn-success mx-0 w-100">
    <span *ngIf="progress" class="spinner-border spinner-border-sm"></span> Save Password
  </button>

</form>
