.header {
  position: fixed;
  transition: 0.5s;
  height: 75px;
  padding: 18px;
  margin: 5px auto 0;
  width: 100%;
  max-width: 1280px;
  background: aliceblue;
  box-shadow: lightgray 0 4px 6px;
  border-radius: 36px;
}

@media only screen and (max-width: 1280px) {
  .header {
    margin-top: 0;
    border-radius: 0;
  }
}

.username {
  font-size: 16px;
  font-weight: 550;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .username {
    display: none;
  }
}

.header-hide {
  top: -80px;
}

.header-display {
  top: 0;
}

.navigation-link {
  color: black;
  font-weight: 550;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.navigation-link:hover {
  color: rgb(20, 100, 160);
  text-decoration: underline;
}

.avatar {
  height: 40px;
  width: 40px;
  border: 3px solid #c8c8c8;
  cursor: pointer;
}

.avatar:hover {
  opacity: 0.9;
}
