<div class="header" [class.header-hide]="scrollDown" [class.header-display]="!scrollDown">

  <a href="/" style="cursor: pointer; margin-right: 10px">
    <img src="./assets/images/brand.png" alt="Logo" style="height: 40px;"/>
  </a>

  <div class="navigation-link">Hotels</div>

  <div class="navigation-link">Restaurants</div>

  <div style="margin-left: auto" *ngIf="!isLoggedIn()">
    <button mat-flat-button style="border-radius: 20px" routerLink="./auth/login">Log in</button>
    <button mat-flat-button style="border-radius: 20px" routerLink="./auth/signup">Sign in</button>
  </div>

  <div style="margin-left: auto" *ngIf="isLoggedIn()">
    <span class="username">Vishwa Jayasanka</span>
    <img class="rounded-circle avatar" src="./assets/images/default-avatar.png" alt="You"/>
  </div>

</div>


