<div style="display: flex; flex-direction: column">

  <mat-card style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Info</mat-card-title>
      <mat-card-subtitle>Vishwa Jayasankha</mat-card-subtitle>
    </mat-card-header>
      <div style="display: flex; flex-direction: row">
        <img [src]="imageSrc" alt="Profile Picture" style="margin: 0 auto" width="300px" height="300px" class="border border-4 rounded rounded-circle"/>
        <mat-card-actions>
                <div class="col-12">

                    <input multiple type="file" accept="image/*"
                           id="selectedFile" style="display: none" (change)="changeFiles($event)">
                    <br>
                    <br>

                    <div class="main-wrap-for-selected-images">

                      <img *ngIf="urls[0]!=null" [src]="urls[0]" alt="Image"
                           class="selected-image img-thumbnail">
                      <img *ngIf="urls[1]!=null" [src]="urls[1]" alt="Image"
                           class="selected-image img-thumbnail">
                      <img *ngIf="urls[2]!=null" [src]="urls[2]" alt="Image"
                           class="selected-image img-thumbnail">

                    </div>
                  </div>
          <button mat-button color="primary" onclick="document.getElementById('selectedFile').click()">Edit</button>
                </mat-card-actions>
      </div>
  </mat-card>
  <div class="example-headers-align" style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Personal data
        </mat-card-title>
        <mat-card-header>
          <mat-icon>account_circle</mat-icon>
        </mat-card-header>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company (disabled)</mat-label>
          <input matInput value="Google">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Long Last Name That Will Be Truncated</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>

        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card>
</div>
  <div class="example-headers-align" style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Preferences
        </mat-card-title>
        <mat-card-header>
          <mat-icon>tune</mat-icon>
        </mat-card-header>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your language</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Language</mat-label>
              <input matInput placeholder="English" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your Phone Number</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="*******308" formControlName="secondCtrl" required>
              <mat-error *ngIf="phoneNum.invalid">{{getErrorNumber()}}</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Email</ng-template>
          <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </mat-card>
</div>
</div>
