<div style="display: flex; flex-direction: column">

  <mat-card style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Info</mat-card-title>
      <mat-card-subtitle>Vishwa Jayasankha</mat-card-subtitle>
    </mat-card-header>
      <div style="display: flex; flex-direction: row">
        <img [src]="imageSrc" alt="Profile Picture" style="margin: 0 auto" width="300px" height="300px" class="border border-4 rounded rounded-circle"/>
        <mat-card-actions>
                <div class="col-12">

                    <input multiple type="file" accept="image/*"
                           id="selectedFile" style="display: none" (change)="changeFiles($event)">
                    <br>
                    <br>

                    <div class="main-wrap-for-selected-images">

                      <img *ngIf="urls[0]!=null" [src]="urls[0]" alt="Image"
                           class="selected-image img-thumbnail">
                      <img *ngIf="urls[1]!=null" [src]="urls[1]" alt="Image"
                           class="selected-image img-thumbnail">
                      <img *ngIf="urls[2]!=null" [src]="urls[2]" alt="Image"
                           class="selected-image img-thumbnail">

                    </div>
                  </div>
          <button mat-button color="primary" onclick="document.getElementById('selectedFile').click()">Edit</button>
                </mat-card-actions>
      </div>
  </mat-card>
  <div class="example-headers-align" style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Personal data
        </mat-card-title>
        <mat-card-header>
          <mat-icon>account_circle</mat-icon>
        </mat-card-header>
      </mat-card-header>
      <mat-divider></mat-divider>
<br>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-divider></mat-divider>
     <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
     <br>
      <mat-form-field appearance="fill">
        <mat-label>Country or Region</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="example-headers-align" style="margin: 10px auto; max-width: 750px; width: 100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Destination
        </mat-card-title>
        <mat-card-header>
          <mat-icon>map</mat-icon>
        </mat-card-header>
      </mat-card-header>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card>
</div>

</div>
